:root {
    --black: #191919;
    --dark-purple: #2B2673;
    --purple: #3A3399;
    --light-purple: #B6B2E5;
    --white: #E6E6E6;
    --light-gray: #BFBFBF;
    --dark-gray: #595959;
    --red: #953131;
    --green: #31955A;
    --yellow: #736D26;
}

@font-face {
    font-family: 'Zen Kurenaido';
    unicode-range: U+3040-309F;
    src: url(../font/Zen_Kurenaido/ZenKurenaido-Regular.ttf);
}

@font-face {
    font-family: 'DotGothic16';
    unicode-range: U+3040-309F;
    src: url(../font/DotGothic16/DotGothic16-Regular.ttf);
}

@font-face {
    font-family: 'Hannari';
    unicode-range: U+3040-309F;
    src: url(../font/Hannari/Hannari-Regular.ttf);
}

@font-face {
    font-family: 'Aoboshi One';
    unicode-range: U+3040-309F;
    src: url(../font/Aoboshi_One/AoboshiOne-Regular.ttf);
}

@font-face {
    font-family: 'Cherry Bomb One';
    unicode-range: U+3040-309F;
    src: url(../font/Cherry_Bomb_One/CherryBombOne-Regular.ttf);
}

@font-face {
    font-family: 'Dela Gothic One';
    unicode-range: U+3040-309F;
    src: url(../font/Dela_Gothic_One/DelaGothicOne-Regular.ttf);
}

@font-face {
    font-family: 'Monomaniac One';
    unicode-range: U+3040-309F;
    src: url(../font/Monomaniac_One/MonomaniacOne-Regular.ttf);
}

@font-face {
    font-family: 'Chokokutai';
    unicode-range: U+3040-309F;
    src: url(../font/Chokokutai/Chokokutai-Regular.ttf);
}

body {
    overflow: hidden;
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: unset;
    height: 100%;
    background-color: var(--white);
    z-index: 1000;
}

h1:focus {
    outline: none;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

a, .btn-link {
    display: inline-block;
    text-decoration: none;
    height: inherit;
}

article {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    border: none;
    width: 35rem;
    height: 35rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 20vh auto 1rem auto;
}

    .loading-progress circle {
        fill: none;
        stroke: #e0e0e0;
        stroke-width: 0.6rem;
        transform-origin: 50% 50%;
        transform: rotate(-90deg);
    }

        .loading-progress circle:last-child {
            stroke: #1b6ec2;
            stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
            transition: stroke-dasharray 0.05s ease-in-out;
        }

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
}

    .loading-progress-text:after {
        content: var(--blazor-load-percentage-text, "Loading");
    }

@media screen and (max-width: 900px) {
}

@media screen and (max-width: 750px) {
}

@media screen and (max-width: 650px) {
    section {
        width: 22.5rem;
    }
}

@media screen and (max-width: 400px) {
    section {
        width: 90%;
    }
}

@media screen and (max-height: 900px) and (max-width: 900px) {
    h4 {
        display: none;
    }
}

@media screen and (max-height: 825px) {
    section {
        height: 90%;
    }
}
