main {
    display: flex;
    height: calc(100% - 2.5rem);
}

    main > nav {
        width: fit-content;
        background-color: var(--light-gray);
    }

        main > nav > ul {
            margin: unset;
            padding: unset;
            list-style: none;
            list-style-type: none;
        }

            main > nav > ul > li {
                height: 2.5rem;
                width: 12.5rem;
            }

                main > nav > ul > li > a {
                    display: flex;
                    align-items: center;
                    width: inherit;
                    height: inherit;
                    cursor: pointer;
                }

                    main > nav > ul > li > a > h3 {
                        width: inherit;
                        height: inherit;
                        padding: unset;
                        margin: unset;
                        font-size: 0.75rem;
                    }

                    main > nav > ul > li > a > img {
                        padding: 0.75rem;
                    }

a.side-link {
    height: inherit;
    width: inherit;
    display: flex;
    color: var(--black);
    line-height: 2.5rem;
    align-content: center;
    justify-content: center;
}

    a.side-link > h3 {
        width: inherit;
        height: inherit;
        padding-left: 0.75rem;
        font-size: 0.75rem;
        margin: unset;
        font-weight: normal;
    }

    a.side-link > img.active-side-icon {
        display: none;
    }

a.side-link-active > img.active-side-icon {
    display: unset;
}

a.side-link > img.default-side-icon {
    display: unset;
}

a.side-link-active > img.default-side-icon {
    display: none;
}

a.side-link-active {
    background-color: var(--white);
}

@media screen and (max-width: 900px) {
    main > nav > ul > li {
        width: 2.5rem;
    }

        main > nav > ul > li > a > h3 {
            display: none;
        }
}

@media screen and (max-width: 750px) {
    main {
        flex-direction: column;
        height: calc(100% - 8rem);
    }

        main > nav > ul {
            display: flex;
        }

            main > nav > ul > li {
                height: 4rem;
                width: 4rem;
            }

                main > nav > ul > li > a > img {
                    width: 1.5rem;
                    height: 1.5rem;
                }

        main > nav {
            order: 1;
            width: inherit;
            display: flex;
            justify-content: center;
            padding-bottom: env(safe-area-inset-bottom);
        }
}
